#!/bin/sh
cat << 'EOF'
 This system is managed by Ansible.
{% if figlethost.stdout is defined %} {{ figlethost.stdout }} {% endif %}

 {{ organisation.name }}
EOF
echo " "
echo " OS          : $(lsb_release -d -s) $(lsb_release -c -s)"
echo " Hostname    : $(hostname)"
echo " IP address  : $(hostname -I | cut -d' ' -f1) / $(ip -6 a s dev {{ primary_network_interface }} | grep global | grep -v temporary | grep -v deprecated | cut -c 11- | cut -d'/' -f1 | grep -v 'fd00::')"
echo " System type : $(uname -s) $(uname -m)"
echo " Kernel      : $(uname -r)"
echo " "
echo " Aufgabe     : {{ aufgabe }}"
echo " Besitzer    : {{ server_besitzer }}"
