server {
    listen 80;
    listen [::]:80;
    listen 443 ssl http2;
    listen [::]:443 ssl http2;

    ssl_certificate /etc/ssl/fullchain.pem;
    ssl_certificate_key /etc/ssl/key.pem;

    index index.php index.html index.htm index.nginx-debian.html;
    server_name {{inventory_hostname_short}}.{{domain}};

    root /var/www/rainloop;

    if ($ssl_protocol = "") {
        return 301 https://$server_name$request_uri;
    }

    location / {
        try_files $uri $uri/ =404;
    }

    location ~ \.php$ {
        include snippets/fastcgi-php.conf;
        fastcgi_pass unix:/var/run/php/php7.3-fpm.sock;
    }

    location ~ /\.ht {
        deny all;
    }

    location ^~ /data {
        deny all;
    }

    location /rspamd/ {
        proxy_pass http://localhost:11334/;
        proxy_set_header Host $host;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
    }

    location /mailman {
        proxy_pass       http://localhost:4000;
        proxy_set_header Host      $host;
        proxy_set_header X-Real-IP $remote_addr;
     }
}

