MAILMAN_SECRET={{ mailmanhash.stdout }}
MAILMAN_DB_USER=vmail
MAILMAN_DB_PASSWORD={{mysql_vmail_password}}
MAILMAN_DB_DATABASE=vmail
MAILMAN_HOST=127.0.0.1
MAILMAN_PORT=4000
MAILMAN_BASENAME=/mailman
MAILMAN_ADMIN={{mailman_user}}
